certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.10.0
fonttools==4.39.3
idna==2.10
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
requests==2.31.0
requests-toolbelt==1.0.0
roboflow==1.0.8
seaborn==0.12.2
six==1.16.0
supervision==0.6.0
tabulate==0.9.0
tqdm==4.65.0
tzdata==2023.3
urllib3==1.26.15
wget==3.2
zipp==3.15.0
